body{
	height: 100%;
	min-height: 100%;
	#min-width: 1280px;
	
	margin: 0px 0px;
	background-color: #f1f1f1; 
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
	
	color: #333;
    #line-height: 1.3em;
	#line-height: 12px;
}
.page-container{

}
#page-content{
	#padding: 24px 15px;
	#width: 1060px;
	margin: 0 auto;
	
	#background-color: #FFF;
	z-index: 2;
	#box-shadow: 0 1px 5px rgba(0,0,0,0.16);
	margin-bottom: 10px;
}
#topbar-title{
    height: inherit;
	padding: 0px 15px;
	font-weight: 600;
}
#topbar{
	height: 90px;
	z-index: 3;
	z-index: 5;
	position: relative;
	background-color: #FFF;
}

#topbar .title{
	font-family: 'Cinzel', serif, bold;
	font-size: 30px;
	display: inline-block;
	#color: black;
}
#topbar .sub-title{
	font-family: 'Droid Serif', serif;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
}
#topbar-alignment-wrapper{
	height: 60px;
    min-width: 960px;
    max-width: 1900px;

	margin: 0 auto;
	text-align: center;
}
#topbar-left{
	display: inline-block;
	float: left;
    padding-left: 10px;
	#background-color: red;
	height: inherit;
}
#topbar-date-output{
	margin-top: 20px;
    font-size: 15px;
    font-family: 'Droid Serif', serif;
    font-family: 'Roboto', sans-serif;
}
#topbar-right{
	padding-right: 10px;
	float: right;
	#background-color: red;
	height: inherit;
}
#topbar-center{
	height: 60px;
    min-width: 520px;
    max-width: 490px;
	display: inline-block;
    text-align: center;
	
	background-color: red;
}
.topbar-link{
	display: inline-block;
    height: 60px;
    width: 70px;
	color: #707880;
    line-height: 60px;
    text-align: center;
    margin: 0px 5px;
    cursor: pointer;
}

#navbar{
	height: 35px;
	width: 100%;
	background-color: #fff;
	#border-bottom: 5px solid rgb(181, 189, 104);
}
#navbar-alignment-wrapper{
	display: table;
    table-layout: fixed;
    height: inherit;
	
	max-width: 1004px;
	margin: 0 auto;
    #background-color: blue;
}
.navbar-tab{
	#transition: 0.5s;
	#width: 30px;
	#max-width: 30px;
	text-align: center;
	font-size: 11px;
    display: table-cell;
    padding: 4px 5px;
    padding-bottom: 0px;
    position: relative;
}
.navbar-tab  div{
	#position: absolute;
	top: 12px;
	text-align: center;
	height: 10px !important;
}
.navbar-tab:hover{
	transition: 0.1s;
    background-color: #f1f1f1;
    cursor: pointer;
}
.navbar-tab-alert{
	height: 15px;
}
.navbar-tab span{
	height: 10px;
	margin: 0;
    padding: 0;
}
.navbar-m-fix{
	position: fixed;
    top: 0;
	#box-shadow: 0 1px 5px rgba(0,0,0,0.16);
	box-shadow: 0 5px 5px rgba(0,0,0,0.16);
	border-bottom: 2px solid #e1e8ed;
}
#navbar-options{
	position: absolute;
	right: 0;
	z-index: 3;
	width: 10%;
	#background-color: red;
}
#navbar-options .navbar-button{
	height: 30px;
	#width: 30px;
	text-align: center;
	font-size: 18px;
	border-left: 1px solid #e1e8ed;
	display: inline-block;
	#margin: 0px 5px;
	padding: 0px 2px;
}
#navbar-time-output{
	position: absolute;
	left: 0;
	z-index: 3;
}
@-webkit-keyframes anim-background-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes anim-background-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes anim-background-gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.colour-bar{
	background: linear-gradient(270deg, #a24bcf, #4b79cf, #4bc5cf);
	background-size: 600% 600%;
	-webkit-animation: anim-background-gradient 30s ease infinite;
	-moz-animation: anim-background-gradient 30s ease infinite;
	animation: anim-background-gradient 30s ease infinite;
	height: 5px;
	width: 100%;
}
.ui-init-hidden{
	display: none;#!important;
}
.ui-shadow{
	border-bottom: 2px solid #e1e8ed;
}
.ui-border-rounded{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.content{
	padding: 4px;
}
.data-sidebar-content{
}

.data-content{
	#transition: width 0.2s;
}
.data-container{

}
#data-grid:hover{
	#box-shadow: 0 1px 5px rgba(0,0,0,0.16);
}
#data-grid-wrapper{
	width: 100%;
}
#data-grid .content-bar-content{
	#margin-left: 10px;
}
#data-sidebar{
	display: inline-block;
	position: fixed;
	z-index: 1;
	right: 0px;
	top: 0px;
	overflow-y: auto;
	overflow-x: none;
	
	min-height: 100%;
	max-height: 100%;
	
	width: 20%;
	max-width: 20%;
	max-width: calc(30% - 3px);
	
	padding-top: 40px;
	
	background-color: #fff;
    border-left: 1px solid #e1e8ed;
	color: #C5C8C6;
	display:none;
}
#data-sidebar-hidden-title{
	vertical-align: middle;
    text-align: center;
    
	min-height: 40px;
    max-height: 40px;
    
	margin-bottom: 15px;
    border-bottom: 1px solid #e1e8ed;
    padding: 2px;
	
	color: black;
	#box-shadow: 0 2px 3px rgba(0,0,0,0.16);
	#box-shadow: 0 1px 5px rgba(0,0,0,0.16);
}
.content-bar-container{
	min-height: 282px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 0px 0px;
	
	border-bottom: 2px solid #e1e8ed;
	background-color: #FFF;
	
	
}
.content-ui-contrast .content-bar-content-container{
	background-color: #fff;
}
.content-ui-contrast .content-bar-content-wrapper{
	#background-color: #373B41;
	background-color: white;
}
.content-bar-clamp .content-bar-content-container{
	max-width: 80% !important;
	min-width: 80% !important;
}
.content-bar-clamp .content-bar-sider{
	display: inline-block;
}
.content-bar-content-wrapper{
	display: inline-block;
	margin-top: 4px;
	width: 100%;
	min-height: 200px;
}
.content-bar-content-container{
	float: left;
	display: inline-block;
	min-height: 282px;
	
	width: 100%;
	#border-right: 2px solid #e1e8ed;
}
.content-bar-content-wrapper:hover .content-bar-header-align{
	transition: 0.5s;
	transition: box-shadow 0.5s;
	
	box-shadow: 0px 3px 2px rgba(0,0,0,0.16)
}
.content-bar-content{
	#min-width: 80%;
	#width: 100%;
	float: left;
	display: inline-block;
	#max-height: 578px;
	#overflow-y: scroll;
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;
	
	
	#box-shadow: 2px 0px 2px rgba(0,0,0,0.16);
	#margin: 0px 4px;
	#border-right: 2px solid #e1e8ed;
	#padding: 8px 8px;
	#box-shadow: 0 1px 5px rgba(0,0,0,0.16);
	#background-color: red;
}
.content-bar-content a {
    font-size: 10px;
    max-width: 150px;
    min-width: 150px;
    max-height: 280px;
    min-height: 280px;
    margin: 3px 3px;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transform-origin: top;
    animation-name: anim-flip-down;
    animation-iteration-count: 1;
    animation-duration: 0.2s;
    animation-timing-function: ease;
}

.content-bar-content div{
	
}
.content-bar-header{
	vertical-align: middle;

	#padding: 10px 10px;
	#height: 30px;
	
	margin-bottom: 5px;
	#box-shadow: 0 2px 3px rgba(0,0,0,0.16);
}
.content-bar-header-align{
	margin: 0 auto;
	height: 30px;
	width: 98%;
	#border-bottom: 2px solid #e1e8ed;
	padding: 10px 10px;
	padding: 5px 5px;
	box-shadow: 0px 3px 2px rgba(0,0,0,0.06);
	
	transition: box-shadow 1s;
	#border-left: 2px solid white;
	#border-right: 10px solid white;
	#box-shadow: 0 2px 3px rgba(0,0,0,0.16);
}
.content-bar-header-left{
	max-width: 20%;
	display:inline-block;
	float: left;
}
.content-bar-header-right{
	max-width: 80%;
	display:inline-block;
	float: right;
}
.content-bar-sider-container{
	#min-height: 100%;
	#max-height: 100%;
	
	max-height: 867px;
	max-height: 578px;
	min-height: 286px;
	
	position: relative;
	#background-color: red;
	
	#overflow-y: scroll;
	display: inline-block;
	float: right;
	
	#display: none;
	#overflow-y: scroll;
	overflow-y: hidden;
	
	#max-width: 20%;
	#min-width: 20%;
	
	#min-height: 322px;
	#box-shadow: 0 1px 5px rgba(0,0,0,0.16);
}
.content-bar-sider{
	margin: 0 auto;
	width: 99%;

	#display: none;
	#height: inherit;
	#padding: 2px;
	#display:inline-block;
	#border-left: 2px solid #e1e8ed;
	#background-color: green;
	#float: right;
	#min-height: 290px;
}
.content-bar-sider a {
	font-size: 10px;
    max-width: 150px;
    min-width: 150px;
    max-height: 280px;
    min-height: 280px;
    margin: 2px 2px;
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transform-origin: top;
    animation-name: anim-flip-down;
    animation-iteration-count: 1;
    animation-duration: 0.2s;
    animation-timing-function: ease;
	background-color: white;
}
.content-bar-sider img{
	#width: 100%;
	#height: 50%;
}
.sider-header{

}
.sider-content{

}
.ui-progressbar-container{
  #position: relative;
  width: 100%;
  height: 5px;
  
  background-color: #ddd;
}
.ui-progressbar-bar {
	#position: absolute;
	height: 100%;
	background-color: #81A2BE;
	width: 0%;
}
.ui-progressbar{
	height: 6px;
	#margin-top: 5px;
}
.ui-progressbar .ui-progressbar-value {
	#box-shadow: 0 0px 4px #679dc3;
	border-right: 30px solid #adadad;
	position: relative;
	z-index: 10;
	transition-timing-function: ease;
	
	transition: background-color 1s;
	transition: width 0.8s;
  #-webkit-transition: width 0.8s;
}
.ui-progressbar > div{
	transition: background-color 2s !important;
	transition: width 0.8s;
}
.ui-widget-content{
	border:none;
}
.ui-widget.ui-widget-content{
	border: none;
}

.hoz-table{
	display: table;
    table-layout: fixed;
	width: 100%;
	height: 30px;
}
.hos-table > * {
	
}
.hoz-table > *:hover{
	cursor: pointer;
	transition: 0.5s;
	color: black;
	border-bottom: 2px red solid;
}
.hoz-table span{
	text-align: center;
    font-size: 11px;
    display: table-cell;
	border-bottom: 2px #fff solid;
}
.hos-table-cell{
	text-align: center;
    font-size: 11px;
    display: table-cell;
	border-bottom: 2px #fff solid;
}
.inline{
	display:inline;
}




input[type=text] + lable:before{
	
}

input[type=text]:focus + lable:before{
	color: red;
	transform: translateX(32px) rotateY(180deg);
}

input[type=text] {
	min-width: 200px;
	height: 25px;
	
	color: #C5C8C6;
	border: 1px solid #e1e8ed;
    background-color: white;
}
input[type=text]:focus{
	border-bottom: 1px solid #EB1E30;
}









/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
  
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  border: 2px solid #e1e8ed;
  #background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  #content: "▷";
  content: "";
  
  height: 26px;
  width: 26px;
  top: -2px;
  left: 2px;
  bottom: 4px;
  
  background-color: white;
  background-colour: #373B41;
  border: 2px solid #e1e8ed;
  
  -webkit-transition: .4s;
  transition: .4s;
  
  #background-color: black;
}

input:checked + .slider {
  #background-color: #2196F3;
}

input:focus + .slider {
  #box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(32px) rotateY(180deg);
  
	#transform: rotateY(180deg);
	#content: "◁";
	#content: "▶";
	content: "";
	background-color: #8C9440;
}

input:checked + .slider:after{
	transform: rotateY(90deg);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  
}
.slider.roud:after{
	
}


h1 {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    font-size: 20px;
    color: #C5C8C6;
}














input.cmn-toggle-round label{
	display: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 160px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  height: 30px;
  width: 80px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
  
}
input.cmn-toggle-round + label:after {
  width: 58px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
  width: 30px;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
  
}




a:hover{
	opacity:1 !important;
}
.newsElementContainer-box {
	color: fff;
	border: 1px solid #e1e8ed;
	border-bottom: 2px solid #e1e8ed;
	
	min-height: inherit;
	max-height: inherit;
	max-width: inherit;
	min-width: inherit;
	font-size: 11px;
	position: absolute;
}
.newsElementContainer-box:hover {
	max-height: 247px;
	#transition: 0.5s;
	
	transition: all 0.2s !important;
	transform: scale(1.1, 1.1);
	transform: scale(1.05, 1.05);
	opacity: 1;
	
	#transition: rotate 1s;
	#transform: rotate(360deg);
	#transform-origin: left bottom;
	
	background-color: white;
	z-index: 3;
	
	#-webkit-transform: scale(2, 3);
	  
	-webkit-box-shadow: 0px 0px 57px -5px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px 0px 57px -5px rgba(0,0,0,0.43);
	box-shadow: 0px 0px 57px -5px rgba(0,0,0,0.43);

	-webkit-box-shadow: 0px 0px 57px -5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 57px -5px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 57px -5px rgba(0,0,0,0.5);

	-webkit-box-shadow: 0px 0px 57px -5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 57px -5px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 57px -5px rgba(0,0,0,0.4);

	-webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.25);
}
.newsElementContainer-box:hover .newsElement-text{
	transition-duration: 0.3s;
	color: #2A5491;
}
.newsElementContainer-box:hover .newsElementContainer-pull{
	transition-duration: 0.3s;
	height: 10px;
}
.newsElement-host{
    height: 15px;
    font-size: 12px;
	
    font-weight: bold;
	color: inherit;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
}
.newsElement-fname{
	height: 15px;
	font-weight: bold;
	padding-left: 5px;
}
.newsElement-content{
	height: 230px;
	min-height: 230px;
	max-height: 230px;
	
	max-width: inherit;
	width: inherit;
	
	color: inherit;
	display: block;
	overflow-y: hidden;
}
.newsElementContainer-box img{
    min-width: inherit;
    max-width: inherit;
	max-height: 100px;
	
    width: 100%;
    height: 100px;
	
	
	display: block;
    border: 0px solid white;
	
    #border: 1px solid #e1e8ed;
	#max-width: 100%;
    #min-height: 100px;
    #height: auto;
    #background-color:  lightgreen;
}
.newsElementContainer-box:hover img{
	transition-duration: 0.3s;
    opacity: 0;
    height: 0px;
	
	#min-height: 0px;
	#width: inherit;
    #background-color: blue;
}
.newsElement-title{
	min-height: 30px;
	min-height: 40px;
    font-weight: bold;
	color: inherit;
	padding: 2px 5px;
    font-family: 'Roboto', sans-serif;
}
.newsElement-text{
	width: inherit;
	padding: 2px 5px;
	box-sizing: border-box;
	font-size: 11px;
	color: inherit;
    overflow-x: hidden;
}
.newsElement-footer{
	height: 20px;
	min-height: 20px;
	max-height: 20px;
}
.newsElement-time{
	height: 20px;
	min-height: 20px;
	max-height: 20px;
	padding: 2px;
	
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: inherit;
}

.newsElement-gname{
	height: 15px;
}

.newsElement-advanced{
	background-image: url("/assets/img/error/wrench.png");
	
	max-width: 18px;
	min-width: 18px;
	width: 18px;
	
	max-height: 18px;
	min-height: 18px;
	height: 18px;
	
	display: inline-block;
}




.newsElement-slide-left{
	height: 282px;
	width: 150px;
	position: absolute;
	opacity: 0;
	
	#left: 154;
	#right: 6px;
	
	top: -1px;
	
	background-color: white;
	border: inherit;
	
	z-index: 1;
	
	-webkit-box-shadow: -5px 0px 15px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    -5px 0px 15px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         -5px 0px 15px 0px rgba(50, 50, 50, 0.25);
}
.newsElement-slide-right-poly{
	-webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
	clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}
.newsElement-slide-right{
	height: 282px;
	#width: 150px;
	#transition: 0.2s;
	
	overflow-y: hidden;
	position: absolute;
	
	#left: 6px;
	left: 153px;
	top: -1px;
	
	#top: -424px;
	#top: -141px;
	background-color: white;
	#background-color: inherit;
	border: inherit;
	z-index: 1;
	#display: block;

	
-webkit-box-shadow: 5px 0px 15px 0px rgba(50, 50, 50, 0.25);
-moz-box-shadow:    5px 0px 15px 0px rgba(50, 50, 50, 0.25);
box-shadow:         5px 0px 15px 0px rgba(50, 50, 50, 0.25);
}
.newsElement-slide-bottom{
	#height: 280px;
	width: 150px;
	top: 283px;
	left: 1px;
	#bottom: -155px;
	#bottom: -5px;
	#left: -1px;
	
	z-index: 1;
	position: absolute;
	background-color: white;
	
	#background-color: inherit;
	
	border: inherit;
	-webkit-box-shadow: 0px 25px 57px -5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 25px 57px -5px rgba(0,0,0,0.4);
	box-shadow: 0px 25px 57px -5px rgba(0,0,0,0.4);

	#transition: 0.2s;
	#
	#display: block;
	#float: left;
	#top: 2px;
	#left: 10px;
	
	#-webkit-box-shadow: 0px 0px 57px -5px rgba(0,0,0,0.4);
	#-moz-box-shadow: 0px 0px 57px -5px rgba(0,0,0,0.4);
	#box-shadow: 0px 0px 57px -5px rgba(0,0,0,0.4);
}
@-webkit-keyframes card_flip_down {
    0% {
      transform: rotateX(-180deg);
    }
    100% {
      transform: rotateX(0deg);
    }
}

.newsElement-slide-fat:hover img{
	opacity: 1 !important;
	min-height: 100%;
	max-height: 100%;
	min-width: 100%;
	max-width: 100%;
}
.newsElement-slide-fat img{

	#width: 458px;
	#height: 200px;
	min-height: 100%;
	max-height: 100%;
	min-width: 100%;
	max-width: 100%;
	
	#width: 100%;
	#height: 100%;
	
	object-fit: cover;
	
	#z-index: 5;
	
	opacity: 1 !important;
	
	#background-repeat: no-repeat;
    #background-attachment: fixed;
    #background-size: cover;
}
.newsElement-slide-fat:hover{
	#transition-duration: 5s;
	opacity: 1 !important;
	
	#background-color: none;
	#min-height: 100%;
	#max-height: 100%;
	#min-width: 100%;
	#max-width: 100%;
}
.newsElement-slide-fat{
	width: 458px;
	#height: 200px;
	height: 282px;
	border: inherit;
	overflow-y: hidden;
	position: absolute;
	#background-color: white;
	#z-index: 4;
	left: -154px;
	top: 290px;
	
	
	
	background-color: white;
	transform-origin: top;
	animation-name: card_flip_down;
	animation-iteration-count: 1;
	animation-duration: 0.4s;
	animation-timing-function: ease;
	-webkit-box-shadow: 0px 25px 57px -5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 25px 57px -5px rgba(0,0,0,0.4);
	box-shadow: 0px 25px 57px -5px rgba(0,0,0,0.4);
	
	
	z-index: 10;
}
.newsElement-slide-bottom div{
	#color: red;
	margin: 2px 5px;
	padding: 4px;
	border-bottom: inherit;
	
}
.newsElement-slide-right div{
	margin: 2px 5px;
	padding: 4px;
	font-weight: bold;
	border-bottom: inherit;
}
.newsElement-slide-right div p{
	#margin: 6px 5px;
	font-weight: normal;
	padding-left: 10px;
}
.newsElement-slide-left div{
	margin: 2px 5px;
	padding: 4px;
	font-weight: bold;
	border-bottom: inherit;
}
.newsElement-slide-left div p{
	#margin: 6px 5px;
	font-weight: normal;
	padding-left: 10px;
}



