#theme-dark body{
	background-color: #34373c  !important;
}
#theme-dark #topbar,#navbar,#data-sidebar{
	color: #f2f2f2;
	background-color: #34373c !important;
}
#theme-dark .ui-shadow{
	border-bottom: 2px solid #16171A;
}
#theme-dark  #navbar-alignment-wrapper{
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #16171A;
}
#theme-light #topbar,#navbar,#data-sidebar{
	color: black;
	background-color: white !important;
}
.theme-light .ui-shadow{
	border-bottom: 2px solid #e1e8ed;
}
.theme-light body{
	background-color: #f1f1f1 !important;
	background-color: red !important;
}
