body{
	background-color: #141518 !important;
	color: #fff;
}
#topbar{
	background-color: #34373c !important;
}
#navbar{
	background-color: #34373c !important;
}
#data-sidebar{
	background-color: #34373c !important;
	border-left: 1px solid #141518;
}
#data-sidebar-hidden-title{
	border-bottom: 2px solid #141518 !important;
}
.content-bar-container{
	background-color: #34373c !important;
	border-bottom: 2px solid #707880;
}
.navbar-m-fix{
	box-shadow: 0 1px 4px #679dc3;
}
.ui-progressbar-container{
	background-color: #141518 !important;
}
.ui-shadow{
	border-bottom: 2px solid #141518 !important;
}